//Variables
$RobotoFont: "Roboto", sans-serif;
$PixelifyFont: "Pixelify Sans", sans-serif;
$Jersey25Font: "Jersey 25", sans-serif;
$greenNeon: rgb(151, 244, 93);
$darkFont: #212121;
$lightFont: #ebe8e8;

//Mixins
@mixin sizes($width: 100%, $height: 100%){
    width: $width;
    height: $height;
}
@mixin displayFlex($justifyContent: center, $flexDirection: column){
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
    flex-direction: $flexDirection;
}

//Generales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Html & Body
html{
    @include sizes();
    overflow-y: hidden;
    overflow-x: hidden;
    zoom: 90%; 
}
body{
    background-color: black;
    @include sizes();
    font-family: $RobotoFont;
}

//Main
main{
    @include displayFlex($flexDirection: row);
    @include sizes();
}

//Machine container
.machineContainer{
    @include displayFlex($flexDirection: row);
    @include sizes();
}

//Preloader
.preloader{
    perspective: 1600px;
    padding: 25px;
}

//Machine
.machine{
    position: relative;
    @include sizes($width: 400px, $height: 800px);
    transform-style: preserve-3d;
    border: 3px solid rgb(140, 23, 111);
    transform: rotateY(-50deg);
    transition: all 1s ease-in-out;
    z-index: 1000;
}
.machine:hover{
    transform: rotateY(30deg) scale(1.8);
}
.face{
    position: absolute;
    @include sizes();
    @include displayFlex();
}
.frontSide{
    @include displayFlex($flexDirection: row);
    background-color: transparent;
    transition: all 0.1s ease;
    z-index: 3000;
}
.leftSide{
    border: 3px solid #5d0c5e;
    background-image: url(/src/assets/img/leftSide.png);
    @include sizes($width: 400px, $height: 800px);
    transform: rotateY(90deg) translateZ(195px) translateX(200px) translateY(-3px);
    overflow: hidden;
    cursor: default;
}
.nameContainer{
    @include sizes($width: 400px, $height: 800px);
    @include displayFlex($justifyContent: top);
    padding-top: 120px;
    padding-left: 20px;
}
.myName{  
    font-size: 50px;
    width: 400px;
    text-align: left;
    font-weight: 600;
    color: rgb(228, 227, 227);
    text-shadow: 0px 5px 1px black;
}
.myProfession{
    font-size: 25px;
    width: 400px;
    text-align: left;
    font-weight: 600;
    font-family: $PixelifyFont;
    color: rgb(151, 244, 93);
    text-shadow: 0px 5px 1px black;
}
.rightSide{
    background-color: rgb(44, 72, 118);
    border: 3px solid #631b4f;
    @include sizes($width: 400px, $height: 800px);
    transform: rotateY(90deg) translateZ(-200px) translateX(200px) translateY(-2px);
    background-image: url(/src/assets/img/rightSide.png);
}
.leftContainer{
    @include sizes($width: 30%, $height: 100%);
    background-image: url(/src/assets/img/rightSide.png);
    @include displayFlex();
    gap: 25px;
    padding-bottom: 10px;

    h3{
        color: white;
        text-align: center;
        font-family: $PixelifyFont;
        cursor: default;
    }
}
.orderPanel{
    @include sizes($width: 95%, $height: 25%);
    @include displayFlex($flexDirection: row);
    z-index: 3000;
}
.orderPanel ul{
    @include sizes();
    @include displayFlex($flexDirection: column);
    z-index: 3000;
    gap: 5px;
}
.orderPanel li{
    @include sizes();
    list-style: none;
    z-index: 3000;
    @include displayFlex($flexDirection: row);
}
.orderPanel li button{
    @include sizes($width: 95%, $height: auto);
    cursor: pointer;
    padding: 2px;
    z-index: 3000;
    border-left: 4px solid black;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    border-right: 1px solid black;
    box-shadow: 0px 0px 5px 1px black;
    background-color: $greenNeon;
    color: black;
    font-family: $PixelifyFont;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.orderPanel li button:hover{
    background-color: white;
    z-index: 3000;
}
.moneyIcon{
    background-image: url(/src/assets/img/gif/dineroVolando.gif);
    @include sizes($width: 55%, $height: 6%);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}
.payment{
    @include sizes($width: 55%, $height: 2%);
    border-radius: 10px;
    border: 3px solid rgb(222, 4, 117);
    background-color: black;
    margin-top: -20px;
}
.musicPanel{
    @include sizes($height: 10%);
    @include displayFlex($justifyContent: space-between);
}
.playPause{
    @include displayFlex($flexDirection: row);
    gap: 10px;

    img{
        @include sizes($width: 20px, $height: auto);
        filter: drop-shadow(0px 0px 5px black);
        cursor: pointer;
    }
}
.volumeControl{
    -webkit-appearance: none;
    appearance: none;
    background-color: $greenNeon;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px black;
    @include sizes($width: 60%, $height: 10px);
    transform: rotate(270deg);
}
.volumeControl::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    cursor: grab;
    border-radius: 5px;
    width: 5px;
    background-color: black;
    height: 20px;
}
.rightContainer{
    @include sizes($width: 70%, $height: 100%);
    @include displayFlex($justifyContent: space-between ,$flexDirection: column);
}
.titleZone{
    @include sizes($width: 100%, $height: 25%);
    @include displayFlex($justifyContent: space-between ,$flexDirection: column);
    text-align: center;
    background-image: url(/src/assets/img/gif/streetBackground.gif);
    background-position: center;
    background-size: cover;
    cursor: default;
}
.marquee{
    background-color: rgb(244, 93, 169);
    @include sizes($width: 100%, $height: 30px);
    font-family: $PixelifyFont;
    font-size: 22px;
    z-index: 2500;
    cursor: default;
}
.productsZone{
    @include sizes($width: 100%, $height: 10%);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    transform: translateY(108px);
}
.dropZone{
    @include sizes($width: 100%, $height: 12%);
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}

//ProductsCube
.productsCube{
    position: relative;
    @include sizes($width: 285px, $height: 320px);
    transform-style: preserve-3d;
    border: 3px solid rgb(61, 61, 61);
    transform: rotateY(-50deg);
    transition: all 1s ease-in-out;
    transform: translateX(110px) translateY(198px);
    cursor: default;
}
.productFrontFace{
    background-color: transparent;
    @include sizes($width: 280px, $height: 320px);
}
.productLeftFace{
    background-color: rgb(67, 34, 62);
    @include sizes($width: 340px, $height: 320px);
    transform: rotateY(90deg) translateZ(110px) translateX(170px);
}
.productRightFace{
    background-color: rgb(67, 34, 62);
    @include sizes($width: 340px, $height: 320px);
    transform: rotateY(90deg) translateZ(-170px) translateX(170px);
}
.productBottomFace{
    background-color: rgb(67, 34, 62);
    @include sizes($width: 280px, $height: 320px);
    transform: rotateX(-90deg) translateY(160px) translateZ(160px);
}
.productTopFace{
    background-color: rgb(67, 34, 62);
    @include sizes($width: 280px, $height: 320px);
    transform: rotateX(-90deg) translateY(160px) translateZ(-160px);
}
.productBackFace{
    @include sizes($width: 280px, $height: 320px);
    background-color: rgb(67, 34, 62);
    transform: translateZ(-320px);
}
.topDivPanel{
    background-color: rgb(255, 255, 255);
    @include sizes($width: 270px, $height: 320px);
    transform: translateX(10px) rotateX(90deg) translateZ(30px) translateY(-170px);
}
.bottomDivPanel{
    background-color: rgb(245, 245, 245);
    @include sizes($width: 270px, $height: 320px);
    transform: translateX(10px) rotateX(90deg) translateZ(-60px) translateY(-170px);
}
.frontGlass{
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    opacity: 0.4;
    @include sizes($width: 277px, $height: 320px);
    transform: translateX(5px);
    @include displayFlex($flexDirection: column);
    z-index: 1100;

    .topProducts, .bottomProducts{
        @include displayFlex($justifyContent: space-around ,$flexDirection: row);
        width: 100%;
    }
    .topProducts{
        transform: translateY(-10px);
    }
    .bottomProducts{
        transform: translateY(55px);
    }
    .product{
        border: 1px solid black;
        padding: 3px;
        opacity: 1;
        font-family: $PixelifyFont;
        font-size: 14px;
    }
    .downArrow{
        @include sizes($width: 60px, $height: auto);
        transform: translateY(90px);
    }
    .downArrow img{
        @include sizes();
    }
}
//Dropzone Cube
.dropZoneCube{
    position: relative;
    @include sizes($width: 150px, $height: 320px);
    transform-style: preserve-3d;
    transform: rotateY(-50deg);
    transition: all 1s ease-in-out;
    transform: translateX(150px) translateY(250px) translateZ(70px);
}
.dropZoneFrontFace{
    background-color: transparent;
    @include sizes($width: 200px, $height: 100px);
}
.dropZoneBackFace{
    background-color: rgb(67, 34, 62);
    @include sizes($width: 280px, $height: 100px);
    transform: translateZ(-250px) translateY(13px) translateX(-34px);
}
.dropZoneRightFace{
    background-color: rgb(67, 34, 62);
    @include sizes($width: 200px, $height: 150px);
    transform: rotateY(90deg) translateZ(-135px) translateX(170px) translateY(10px);
}
.dropZoneBottomFace{
    background-color: rgb(130, 64, 120);
    @include sizes($width: 280px, $height: 160px);
    transform: rotateX(-105deg) translateY(140px) translateZ(90px) translateX(-35px);
}

//Productos
.aboutMeProduct, .aboutMeProduct2,  .experienceProduct, .studiesProduct, .projectProduct, .languageProduct,
.skillsProduct{
    position: relative;
    @include sizes($width: 35px, $height: 70px);
    transform-style: preserve-3d;
    transform: rotateY(-50deg);
    transition: all 1s ease-in-out;
}
.aboutMeProduct{
    transform: translateX(30px) translateY(60px) translateZ(-40px);
}
.experienceProduct{
    transform: translateX(210px) translateY(-10px) translateZ(-40px);
}
.studiesProduct{
    transform: translateX(120px) translateY(-80px) translateZ(-40px);
}
.projectProduct{
    transform: translateX(30px) translateY(-62px) translateZ(-40px);
}
.languageProduct{
    transform: translateX(120px) translateY(-131px) translateZ(-40px);
}
.skillsProduct{
    transform: translateX(210px) translateY(-201px) translateZ(-40px);
}
.rightFace{
    background-image: url(/src/assets/img/rightSide.png);
    background-position: center;
    background-size: cover;
    @include sizes($width: 35px, $height: 70px);
    transform: rotateY(90deg) translateZ(18px);
}
.leftFace{
    background-image: url(/src/assets/img/rightSide.png);
    background-position: center;
    background-size: cover;
    @include sizes($width: 35px, $height: 70px);
    transform: rotateY(90deg) translateZ(-18px);
}
.backFace{
    background-image: url(/src/assets/img/rightSide.png);
    background-position: center;
    background-size: cover;
    @include sizes($width: 35px, $height: 70px);
    transform: translateZ(-18px);
}
.topFace{
    background-image: url(/src/assets/img/rightSide.png);
    background-position: center;
    background-size: cover;
    @include sizes($width: 35px, $height: 35px);
    transform: rotateX(90deg) translateZ(17px);
}
.bottomFace{
    background-image: url(/src/assets/img/rightSide.png);
    background-position: center;
    background-size: cover;
    @include sizes($width: 35px, $height: 35px);
    transform: rotateX(90deg) translateZ(-52px);
}
.frontFace{
    @include sizes($width: 35px, $height: 70px);
    transform: translateZ(17px);
}
.frontAboutMe{
    background-image: url(/src/assets/img/sobreMi.jpg);
    background-position: center;
    background-size: cover;
}
.frontStudies{
    background-image: url(/src/assets/img/estudios.jpg);
    background-position: center;
    background-size: cover;
}
.frontExperience{
    background-image: url(/src/assets/img/experiencia.jpg);
    background-position: center;
    background-size: cover;
}
.frontProject{
    background-image: url(/src/assets/img/proyectos.jpg);
    background-position: center;
    background-size: cover;
}
.frontLanguage{
    background-image: url(/src/assets/img/idiomas.jpg);
    background-position: center;
    background-size: cover;
}
.frontSkills{
    background-image: url(/src/assets/img/habilidades.jpg);
    background-position: center;
    background-size: cover;
}

//Machine Shadow
.machineShadow{
    @include sizes($width: 380px, $height: 380px);
    background-color: transparent;
    box-shadow: 0px 0px 350px 50px black;
    z-index: 1200;
    transform: rotateX(90deg) translateZ(35px) translateY(-190px) translateX(10px);
}

//Floor
.floor{
    @include sizes($width: 5000px, $height: 5000px);
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    transform: rotateX(90deg) translateZ(2724px) translateX(-2500px) translateY(-1000px);
    border-radius: 1500px;
    z-index: 1000;
}

//Articles
.aboutMeArticle, .studiesArticle, .experienceArticle, .projectsArticle, .languagesArticle, .skillsArticle{
    position: absolute;
    @include sizes($width: 600px, $height: 900px);
    left: 100px;
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    opacity: 1;
    border: 3px dashed $greenNeon;
    z-index: 100000;
    color: $lightFont;

    h1{
        font-family: $PixelifyFont;
        font-size: 36px;
        color: $greenNeon;
    }
    ul{
        @include sizes($width: 90%);
        overflow: hidden;
        @include displayFlex($flexDirection: column);

        li{
            @include displayFlex($justifyContent: space-between ,$flexDirection: row);
            @include sizes();
            list-style: none;
            gap: 20px;
    
            span{
                color: white;
                font-family: $RobotoFont;
                font-weight: 600;
                font-size: 18px;
            }
            .superBar{
                @include sizes($height: 20px);
                border-radius: 10px;
                border: 1px solid rgb(49, 49, 49);
                @include displayFlex($justifyContent: left,$flexDirection: row);
            }
        }
    }
}
//AboutMe Article
.aboutMeArticle img{
    @include sizes($width: 30%, $height:auto);
    border-radius: 50%;
    border: 5px solid $greenNeon;
    filter: drop-shadow(0px 0px 10px $greenNeon);
}
.aboutMeArticle h2{
    color: $greenNeon;
}       
.aboutMeArticle h3{
    color: $greenNeon;
    font-family: $PixelifyFont;
    margin-top: -10px;
}
.contactMe{
    width: 100%;
    text-align: left;
    ul{
        width: 100%;
    }
    li{
        width: 100%;
    }
    a{
        color: #5a92f1;
        text-decoration: none;
        width: 100%;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease;
    }
    a:hover{
        transform: scale(1.05);
    }
}
//Studies Article

//Experience Article
.experienceArticle h2{
    color: $greenNeon;
}
.experienceArticle span{
    font-weight: 600;
    font-style: italic;
}
//Project Article
.insideProjectArticle{
    cursor: default;
    @include sizes($width: 95%, $height: 90%);
    @include displayFlex($justifyContent: center);
    gap: 10px;
    h2,p{
        width: 100%;
    }
    h2{
        color: $greenNeon;
    }
}
.projectsArticle img{
    @include sizes($width: 35px, $height: auto);
}
//Languages Article
.languagesArticle img{
    width: 20%;
}
.english, .español{
    @include displayFlex($flexDirection: row);
    @include sizes();
    color: $lightFont;
    gap: 15px;
}
//Skills Article
.skillsArticle img{
    width: 10%;
    height: auto;
}
.javascriptBar{
    background-color: $greenNeon;
    @include sizes($width: 70%);
    border-radius: 10px;
}
.pooBar{
    background-color: $greenNeon;
    @include sizes($width: 50%);
    border-radius: 10px;
}
.javaBar{
    background-color: $greenNeon;
    @include sizes($width: 60%);
    border-radius: 10px;
}
.htmlBar{
    background-color: $greenNeon;
    @include sizes($width: 90%);
    border-radius: 10px;
}
.cssBar{
    background-color: $greenNeon;
    @include sizes($width: 90%);
    border-radius: 10px;
}
.sassBar{
    background-color: $greenNeon;
    @include sizes($width: 60%);
    border-radius: 10px;
}
.responsiveBar{
    background-color: $greenNeon;
    @include sizes($width: 70%);
    border-radius: 10px;
}
.gitBar{
    background-color: $greenNeon;
    @include sizes($width: 60%);
    border-radius: 10px;
}
.photoshopBar{
    background-color: $greenNeon;
    @include sizes($width: 60%);
    border-radius: 10px;
}
.premiereBar{
    background-color: $greenNeon;
    @include sizes($width: 80%);
    border-radius: 10px;
}
.afterEffectsBar{
    background-color: $greenNeon;
    @include sizes($width: 50%);
    border-radius: 10px;
}
.sqlBar{
    background-color: $greenNeon;
    @include sizes($width: 60%);
    border-radius: 10px;
}
.closeButton{
    border: 2px solid $greenNeon;
    border-radius: 20px;
    padding: 10px;
    font-family: $RobotoFont;
    font-weight: 600;
    font-size: 20px;
    color: rgb(50, 50, 50);
    background-color: transparent;
    @include sizes($width: 30%, $height: auto);
    cursor: pointer;
    transition: all 0.3s ease;
}
.closeButton:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

//Animations
@keyframes buyAboutMeProduct {
    0%{transform: translateX(30px) translateY(60px) translateZ(-40px);}
    85%{transform: translateX(30px) translateY(60px) translateZ(-20px);}
    100%{transform: translateX(30px) translateY(450px) translateZ(-50px) rotateX(45deg) rotateY(30deg);}
}
@keyframes buyStudiesProduct {
    0%{transform: translateX(120px) translateY(-79px) translateZ(-40px);}
    85%{transform: translateX(120px) translateY(-79px) translateZ(-20px);}
    100%{transform: translateX(120px) translateY(310px) translateZ(-50px) rotateX(60deg) rotateY(30deg);}
}
@keyframes buyExperienceProduct {
    0%{transform: translateX(210px) translateY(-10px) translateZ(-40px);}
    85%{transform: translateX(210px) translateY(-10px) translateZ(-20px);}
    100%{transform: translateX(210px) translateY(375px) translateZ(-50px) rotateX(70deg) rotateY(30deg);}
}
@keyframes buyProjectProduct {
    0%{transform: translateX(30px) translateY(-62px) translateZ(-40px);}
    85%{transform: translateX(30px) translateY(-62px) translateZ(-20px);}
    100%{transform: translateX(30px) translateY(245px) translateZ(-50px) rotateX(70deg) rotateY(30deg);}
}
@keyframes buyLanguageProduct {
    0%{transform: translateX(120px) translateY(-131px) translateZ(-40px);}
    85%{transform: translateX(120px) translateY(-131px) translateZ(-20px);}
    100%{transform: translateX(120px) translateY(165px) translateZ(-50px) rotateX(70deg) rotateY(10deg);}
}
@keyframes buySkillsProduct {
    0%{transform: translateX(210px) translateY(-201px) translateZ(-40px);}
    85%{transform: translateX(210px) translateY(-201px) translateZ(-20px);}
    100%{transform: translateX(210px) translateY(110px) translateZ(-50px) rotateX(70deg) rotateY(10deg);}
}
@keyframes fadeInArticle {
    0%{opacity: 0;}
    95%{opacity: 0;}
    100%{opacity: 1;}
}